{% load blogg_tags %}
{% load jalali_tags %}
{% load tz %}
{% load static %}
<html>
    <head>
      <title>{% block title %}{% endblock %}</title>
      <link href="{% static "css/blog.css" %}" rel="stylesheet">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
      <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
      <link rel="icon" href="{% static "img/favicon.jpg" %}" sizes="16x16">

      <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://kit.fontawesome.com/59422bdd8a.js"></script>
      <script src="{%static "jquery/blog.js"  %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
        <script src="https://kit.fontawesome.com/59422bdd8a.js"></script>
        <script src="{%static "jquery/blog.js"  %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="topnav2 navbar2">
          <span onclick="onClick()" class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div class="topnav navbar1">
          <div class="search-container">
            <form class="search_top_nav_form" action="/search/">
              <input type="text" placeholder="جستجو...." name="query">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <a href="#about" class="active">خانه</a>
<!--          <a href="#contact">درباره ما</a>-->
        </div>

      <div id="Header">
        {% block Header %}
        {% endblock %}
      </div>
      <div class="container-fluid containing">
          <div class="row justify-content-around">
              <div class="col-md-7">
                {% block content %}
                {% endblock %}
              </div>
              <div class="col-md-3" >
                  <div class='feature_title'>
                    <h3 >آخرین پست ها</h3>
                  </div>
                  <div class='feature_detail'>
                    {% show_latest_posts 3  as slp %}
                    {% for post in slp %}
                    <div class='feature_detail_box'>
                        <a class='feature_detail_title' href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        <div class='feature_detail_detail'>{{post.body|truncatewords:20 }}</div>
                        <div class='feature_detail_date'>{{post.publish|localtime|to_jalali:'%y/%m/%d'}}</div>
                    </div>
                    {% endfor %}
                  </div>

                  <div class='feature_title'>
                    <h3 >پر بحث ترین پست ها</h3>
                  </div>
                  <div class='feature_detail'>
                  {% get_most_commented_posts 3 as most_commented_posts %}
                    {% for post in most_commented_posts %}
                    <div class='feature_detail_box'>
                        <a class='feature_detail_title' href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        <div class='feature_detail_detail'>{{post.body|truncatewords:20 }}</div>
                        <div class='feature_detail_date'>{{post.publish|localtime|to_jalali:'%y/%m/%d'}}</div>
                    </div>
                    {% endfor %}
                  </div>

                  <div class='feature_title'>
                    <h3 >واژه های کاربردی</h3>
                  </div>
                  {% get_All_Tags 8 as tags %}
                  {% for tag in tags%}
                    <a class='tag_list' href="tag/{{tag.slug}}">{{tag.name}}</a>
                  {% endfor %}
<!--                <p><a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a></p>-->
              </div>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script>
        $(document).ready(function(){

          $(".glyphicon").on('click',function(){
            if($(".navbar1").hasClass("navbar1")) {
                $(".navbar1").removeClass("navbar1");
            } else {
                $(".topnav").addClass("navbar1");
            }

            if($(".topnav2").hasClass("navbar2")) {
                $(".topnav2").removeClass("navbar2");
            } else {
                $(".topnav2").addClass("navbar2");
            }
          });

          $(document).on('click', '.reply', function () {
            parent_comment=$(this).attr("data-content")
            reply_to_comment=$(this).attr("data-parent")
            $("#parent").val(parent_comment);
            $("#reply_to").val(reply_to_comment);
          });
        });
      </script>
    </body>
</html>