{% extends "blog/base.html" %}
{% block title %}به اشتراک گذاری پست{% endblock %}
{% block content %}
    {% if sent %}
        <h1 class="share_page_h1">ایمیل با موفقیت ارسال شد</h1>
    {% else %}
        <h1 class="share_page_h1">به اشتراک گذاری "{{ post.title }}" با استفاده از ایمیل</h1>

        <form action="." method="post">
            <div class="row comment_add_row">
                <div class="col-md-9 comment_add">
                    <i class='fas fa-user comment_add_icon'></i>
                    {{ name.error }}
                    <input class="comment_adding" type="text" required="required" maxlength="25" placeholder="نام و نام خانوادگی" name="name">
                </div>
            </div>

            <div class="w-100"></div>
            <div class="row comment_add_row">
                <div class="col-md-9 comment_add">
                    <i class="far fa-envelope comment_add_icon"></i>
                    {{ email.error }}
                    <input class="comment_adding" type="email" required="required" placeholder="آدرس ایمیل فرستنده" name="email">
                </div>
            </div>

            <div class="w-100"></div>
            <div class="row comment_add_row">
                <div class="col-md-9 comment_add">
                    <i class="far fa-envelope comment_add_icon"></i>
                    <input class="comment_adding" type="email" required="required" placeholder="آدرس ایمیل گیرنده" name="to">
                </div>
            </div>

            <div class="w-100"></div>
            <div class="row comment_add_row">
                <div class="comment_add">
                    <i class='far fa-comments comment_add_icon comment_add_icon_textarea'></i>
                    <textarea placeholder="متن پیشنهادی خود برای معرفی این پست وارد کنید." class="comment_adding comment_add_textarea" name="comments"></textarea>
                </div>
            </div>

            {% csrf_token %}
            <p class="comment_submit_div"><input type="submit" class="comment_submit" value="ارسال ایمیل"></p>
        </form>

    {% endif %}
{% endblock %}